
.heading{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}
.desc{
    font: italic  ,Arial;
    font-style: italic;
    margin-bottom: 50px;
    opacity: 0.5;
    font-weight: lighter;
}
.question{
    margin-left: 230px;
    margin-right: 250px;
    font-size: large;
    margin-top: 10px;
    background-color:#f8f4f4;
}
.Q{
    margin-left: 30px;
}

.but{
    background-color: rgb(248, 68, 100);
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition-duration: 0.4s;
    cursor: pointer;
    align-items: center;
}
button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.button2 {
    background-color: rgb(248, 68, 100);
    border-radius: 0.3rem;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 1rem 5rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}